// /////////////////////////
// @@ SERVICE CONTENT
// ////////////////////////

// service class set on views-view-unformatted--services.html.twig
// service__icon, service__title, service__body  on node--services--teaser.html.twig
.service {
    margin-bottom: $margin-b;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    grid-template-areas: 
      "icon title"
      "icon body"
      "more more";

    @include mq(tablet) {
        width: 45%;
        margin-right: 2rem;
    }

    &__icon {
        grid-area: icon;
        align-self: center;
        max-width: 8.6rem;        
    }

    &__title {
        font: {weight: $fw-bold};
        grid-area: title;
    }

    &__body {
        grid-area: body;
    }

}
.c-readmore {
    grid-area: more;
}