// //////////////////////////////
// @@ PHONE BUTTON 
// //////////////////////////////
.c-phone {
    background-color: $accent;
    padding: 1rem 2rem;
    margin-top: -2rem;

    &__link {
        color: $black;
        text-decoration: none;
    }
}