{#
/**
 * 2019-12-20
 *
 * footer region
 */
#}

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__left-inner">
                    {{ page.footerleft }}
                    <p>BE 0534.951.238 </p>
                    <p>+32 475 54 89 92</p>
                </div>
            </div>
            <div class="footer__right">
                <!-- only noticeable on desktop view -->
                {{ page.footerright }}
            </div>
        </div>   
    </div>
</footer>