{#
/**
 * 2019-12-20
 *
 * sub-footer region
 */
#}

<footer class="sub-footer">
	BlueSkyShuttle | {{ "now"|date("Y") }} | icons by
	<a class="sub-footer__link" href="https://pixabay.com">pixabay.com</a>
	<div class="c-sub-footer-menu">
      	{{ page.subfooter }}
	</div>
</footer>
